.Box-container {
    align-items: center;
    background-color: rgb(211, 211, 211);
    height: auto;
    width: 70%;
    display: flex;
    padding:20px;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 1700px;
    margin-bottom: -150px;
}
.B-container {
    align-items: center;
    background-color: rgb(211, 211, 211);
    height: auto;
    width: 70%;
    display: flex;
    padding:20px;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: -250px;
}

.cont
{
    background-color: rgb(211, 211, 211);
}
.order-details
{
    margin-bottom: 10px;
}
.order-divider {
    margin: 10px 0;
    border: 0;
    border-top: 2px solid rgba(13, 102, 161, 0.5);
}
.t-box {
    margin-top: 150px;
    height: 50%; 
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.c{
    margin: 10px;
    padding: 20px;
    width: 600px;
    height: 150px;
    border-radius: 15px;
    background-color: white;
    justify-content: center;
}

.buttons
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.a
{
    color: red;
    margin-left: 120px;
}

.B-cont {
    align-items: center;
    background-color: rgb(211, 211, 211);
    height: auto;
    width: 70%;
    display: flex;
    padding:20px;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 1900px;
    margin-bottom: -150px;
}
